body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    position: absolute;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
    color: #404BBF;
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    color: #F4F4FD;
}

.section-solutions {
    display: flex;
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
    max-width: 1440px;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(./../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.header-solutions {
    display: block;
    width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.button-solutions {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15),
                0 4px 4px 0 rgba(0, 0, 0, 0.15),
                0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-solutions:hover,
.button-solutions:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}


.section-features {
    padding: 120px 0;
}

.features-block {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.features-item {
    width: 264px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-strategy {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
}

.fio-block {
    display: block;
    width: 264px;
    padding: 32px 16px;
}

.team-social-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.img-social {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
    fill: #f4f4fd
}

.img-social:focus,
.img-social:hover {
    background-color: #404BBF;
}

.team-fio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-work {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-item {
    display: block;
    height: 428px;
    width: 264px;
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.header-port {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-port {
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-item-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.port-item:hover .port-item-over,
.port-item:hover {
    transform: translateY(0);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-desk {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.port-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.img-over {
    position: relative;
    overflow: hidden;
}

.port-item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

.port-name {
    display: block;
    padding: 32px 16px;
    line-height: 1.5;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}


.footer-container {
    display: block;
    width: 264px;
    margin-right: 120px;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-social-group {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 16px;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-mail-txt {
    display: flex;
    margin-top: 16px;
}

.footer-fild {
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    margin-right: 24px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-fild::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-submit {
    border-radius: 4px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-fild:focus,
.footer-fild:hover {
    border: 1px solid #31d0aa;
}

.subscribe-submit:focus,
.subscribe-submit:hover {
    background-color: #31d0aa;
}

.btn-icon-sub {
    margin-left: 16px;
    fill: #fff;
}

.footer-img-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item {
    fill: #f4f4fd
}

.footer-social {
    display: block;
    width: 208px;
    margin-right: 80px;
}

.footerbox {
    display: flex;
    align-items: baseline;
}

.footer-img-social:focus,
.footer-img-social:hover {
    background-color: #31d0aa;
}

.subs-discription {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    position: relative;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%);
}

.close-modal {
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    border-radius: 100%;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal:hover,
.close-modal:focus {
    border: 0;
    background-color: #404bbf;
    fill: #fff;
}

.close-modal:hover .icon-close-modal,
.close-modal:focus .icon-close-modal {
    fill: #fff;
}

.icon-close-modal {
    fill: #2e2f42;
}

.modal-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
}

.fild-wraper {
    margin-bottom: 8px;
}

.label-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.text-fild {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.in-icon {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-fild:focus,
.comment-fild:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.text-fild:focus + .form-icon {
    fill: #4d5ae5;
}

.comment-fild {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.comment-fild::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.term-box:checked + .terms-label .custom-checkbox {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.term-box:focus + .terms-label .custom-checkbox {
    border: 1px solid #4d5ae5;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.terms-label {
    display: flex;
    align-items: baseline;
    column-gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.accent {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.accent-link {
    text-decoration: underline;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #404bbf;
}
