body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}