body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contact {
    display: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
        }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        bottom: -1px;
        position: absolute;
        left: 0;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link:hover,
    .nav-link:focus,
    .contact-link:hover,
    .contact-link:focus,
    .nav-link.current {
        color: #404BBF;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact {
        font-style: normal;
        display: block;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-menu-container {
    position: relative;
    padding-top: 74px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    border-radius: 100%;
    stroke-width: 1px;
    background-color: #e7e9fc;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 168px;
}

.mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contact-link:hover,
.mobile-contact-link:focus {
    color: #404BBF;
}

.team-social-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.img-social {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
    fill: #f4f4fd
}

.img-social:focus,
.img-social:hover {
    background-color: #404BBF;
}

.section-solutions {
    display: flex;
    justify-content: center;
    padding: 72px 52px;
    align-items: center;
    max-width: 320px;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(./../images/Dark-bg1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-resolution: 2x) {
    .section-solution {
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(./../images/Dark-bg2x.jpg);
    }
}

.header-solutions {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #fff;
}

.button-solutions {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15),
        0 4px 4px 0 rgba(0, 0, 0, 0.15),
        0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-solutions:hover,
.button-solutions:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .section-solutions {
            padding: 112px 136px;
            align-items: center;
            max-width: 768px;
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(./../images/Dark-bg-pl1x.jpg);
        }
    
        @media (min-resolution: 2x) {
            .section-solution {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(./../images/Dark-bg-pl2x.jpg);
            }
        }
    
        .header-solutions {
            width: 496px;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 36px;
        }
}


@media screen and (min-width: 1158px) {
    .section-solutions {
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(./../images/people-office.jpg);
        }

            @media (min-resolution: 2x) {
                .section-solution {
                    background-image: linear-gradient(to bottom,
                                rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)),
                    url(./../images/people-office2x.jpg);
                }
            }
    
        .header-solutions {
            width: 496px;
            margin-bottom: 48px;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
        }
}


@media screen and (min-width: 768px) {

.mobile-menu {
    display: none;
}
}

@media screen and (min-width: 1158px) {

.mobile-menu {
        display: none;
}
}

